body {
  font-family: Arial;
  padding: 10px;
  background: #f5f5f5;
}

.job {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #ddd;
}

label {
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}